
.enabled {
    display: table;
}

.hidden {
    display: none;
}

.Wrapped-Queueing {
    flex: 1;
    display: grid;
    gap: 1rem;
}

.Wrapped-Queueing button {
    padding: 0.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: dimgray;
    color: white;
    transition: all 0.3s;
    border: none;
}

.Wrapped-Queueing button:hover {
    opacity: 85%;
}

.Wrapped-Queueing button:active {
    opacity: 50%;
}

.Wrapped-Queueing > div {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.Wrapped-Queueing > div > form {
    display: flex;
    gap: 1rem;
}

.Wrapped-Queueing >  div > form > input {
    min-width: 200px;
    padding: 0 1rem;
    border-radius: 0.25rem;
}

.Wrapped-Queueing > div > .buttonGroup {
    display: flex;
    gap: 0.5rem;
}

.Wrapped-Queueing > table th {
    padding: 0.5rem;
}

.Wrapped-Queueing > table {
    border-collapse: collapse;
    text-align: left;
    
}

.Wrapped-Queueing > table td:nth-child(1) {
    max-width: 500px;
    min-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.125rem;
    font-weight: 700;
    color: #e98b07;
    
}

.Wrapped-Queueing > table td:nth-last-child(1) {
    display: grid;
    grid-template-columns: 1fr 20px;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;

}

.Wrapped-Queueing > table td {
    padding: 0.5rem;
}

.Wrapped-Queueing > table box-icon {
    background-color: lightcoral;
    width: 100%;  
    height: 100%;  
    border-radius: 5px;
    cursor: pointer;
}

.Wrapped-Queueing select {
    padding: 0.5rem;
}


.Wrapped-Queueing .disabled {
    background-color: rgba(128, 128, 128, 0.614);
    color: lightgray;
}

.Wrapped-Queueing button:disabled {
    cursor: not-allowed;
    opacity: 30%;
}
@media (max-width: 768px) {
    .Wrapped-Queueing > table th:nth-child(4),
    .Wrapped-Queueing > table th:nth-child(5),
    .Wrapped-Queueing > table td:nth-child(4),
    .Wrapped-Queueing > table td:nth-child(5) {
        display: none;
    }
}
/* @media (max-width: 600px) {
    table {
        display: block;
    }

    td {
        display: block;
        width: 100%;
        box-sizing: border-box;
    }
} */