.cancelled {
    background-color: lightcoral;
    /* background-color: gray; */
    color: red;
}

.recorded {
    background-color: rgb(25, 146, 25);
    /* background-color: gray; */
    color: rgb(0, 248, 0);
}


.MatchCard {
    display: grid;
    grid-template-columns:  1fr 0.1fr;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;    
    gap: 0.5rem;
    position: relative;
    overflow: hidden;
}


.MatchCard > .button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}


.MatchCard > .radio-group {
    display: flex;
    border: 1px solid gray;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
}

.MatchCard .matchStatus {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 50%;
    font-size: 2rem;
}

.radio__input {
    display: none;
}

.radio__label {
    padding: 0.5rem;
    padding-top: 1rem;
    cursor: pointer;
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.radio__label > strong {
    position: absolute;
    top: 10px;
    left: 10px;
}

.radio__label > box-icon {
    position: absolute;
    background-color: gold;
    top: 10px;
    right: 10px;
}

.radio__label > p {
    font-size: 0.85rem;
}

.radio__input:checked + .radio__label{
    border: 5px solid gold;
    /* background-color: rgb(75, 75, 71); */
}

.MatchCard button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.MatchCard button > box-icon {
    width: 50px;
    height: 50px;
}

.MatchCard button:hover {
    opacity: 85%;
}

.MatchCard button:active {
    opacity: 50%;
}

.MatchCard button:disabled {
    opacity: 30%;
    cursor: not-allowed;
}

.MatchCard .cancel-button {
    background-color: lightcoral;
}

.MatchCard .done-button {
    background-color: #28C76F;
}

.win {
    background-color: var(--background-950);
}